.navBarContainer {
  position: fixed;
  top: 0;
  padding: 20px;
  height: 75px;
  width: 100%;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__color {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbarIconContainer {
  display: flex;
}
.netflixIcon {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  padding-left: 20px;
  cursor: pointer;
}
