.planScreen__plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.planScreen__plan:hover {
  opacity: 1;
}

.planScreen__plan > button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 600;
}

.planScreen__plan__disabled:hover {
  opacity: 0.5;
}

.planScreen__plan__disabled {
  opacity: 0.5;
}

.planScreen__plan__disabled > button {
  background-color: gray;
  cursor: unset;
}
