.signInContainer {
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
}

.signInContainer > form {
  margin-top: 10px;
  display: grid;
  flex-direction: column;
}

.signInContainer > form > input {
  padding: 5px 20px;
  /* outline-width: 0; */
  outline: none;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.signInContainer > form > button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e50914;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
}

.gray__text {
  color: gray;
}

.signInContainer > form > h4 {
  font-size: 0.8rem;
  text-align: left;
  margin-top: 30px;
}

.signup__button {
  cursor: pointer;
}
